.app {
  padding: 0 50px;

  .navbar {
    height: 60px;
    background: #333;
    color: #fff;
    padding: 5px 20px;
  }

  .content {
    width: 100%;
    .left-nav {
      width: 15%;
      min-height: 400px;
      margin-right: 2%;
      float: left;
      background: red;
    }

    .main {
      width: 66%;
      min-height: 400px;
      margin-right: 2%;
      background: yellow;
      float: left;
    }

    .right-nav {
      width: 15%;
      min-height: 400px;
      background: green;
      float: right;
    }
  }
}